
<form action="/instamojo/pay" method="post">
   <input type="text" name="purpose" placeholder="purpose">
   <input type="number" name="amount" placeholder="amount">
    <input type="submit"">
</form> 